<h1>Hi {{vm.user.userName}}!</h1>
<p>You're logged in!!</p>
<h3>Published journals:</h3>
<ul>
    <li ng-repeat="journal in vm.journals">
        {{journal.filename}} - {{journal.tags}}
        - <a href="#" ng-click="vm.deleteUser(journal.id)">Delete</a>
    </li>
</ul>
<h3>Upload a new journal:</h3>
<form name="form" ng-submit="vm.upload()" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.journalFile.$dirty && form.journalFile.$error.required }">
        <label for="journalFile">Journal file</label>
        <input type="file" name="journalFile" id="journalFile" class="form-control" onchange="angular.element(this).scope().uploadedFile(this)" />
        <span ng-show="form.journalFile.$dirty && form.journalFile.$error.required" class="help-block">Journal file is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.tags.$dirty && form.tags.$error.required }">
        <label for="tags">Tags</label>
        <input type="text" name="tags" id="tags" class="form-control" ng-model="vm.uploadedJournal.tags" required />
        <span ng-show="form.tags.$dirty && form.tags.$error.required" class="help-block">Tags are required</span>
    </div>
    <div class="form-actions">
        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading || !vm.fileReady" class="btn btn-primary">Upload</button>
        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>

<p>&nbsp;</p>
<p><a href="#/login" class="btn btn-primary">Logout</a></p>